

.chip {
	padding: 0 25px;
	height: 100px;
	font-size: 16px;
	line-height: 50px;
	border-radius: 25px;
	background-color: #f1f1f1;
	width:250px;
	display: flex;
	margin-bottom: 40px;
  }
  
  .chip img {
	float: left;
	margin: 0 10px 0 -25px;
	height: 80px;
	width: 80px;
	border-radius: 50%;
  }
.text-user{
	margin:0;
	height: 25px;
	width: 130px;
}
.name-user{
	font-size:20px;
}
.type-user{
	font-size: 15px;

}
.req-user{
	font-size: 14px;
	background-color: lightblue;
	border: none;
	border-radius: 25px;
}




/*our-team-main*/

