.imgleader {
	width :250px;
	height :250px;
	 border-radius: 50%;
    cursor:pointer;
}
.justifyNobackg{
	text-align :   center;
}
.home-page{
	display: flex;
	justify-content: space-evenly;
	align-items: center;
}