.card {
  border: 1px solid #f1f1f1;
  align-items: center;
  height:120px;
  width:600px; 
  align-self: center;
}
.bg{

  background-image: black; 
}
.bg2{
  background-color: #d3f2eb;
}
.place{
  align-self: left;
}
.size{
  height: 30px;
  width:30px;
}
  .dib
  {
    display: inline-block;
  }
